@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = @Localizer["Register"];
}

<h2>@ViewData["Title"].</h2>
<h3>@Localizer["Associate"] @ViewData["LoginProvider"] @Localizer["account"] </h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>@Localizer["AssociateForm"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        @Localizer["Ok1"] <strong>@ViewData["LoginProvider"]</strong>.
        @Localizer["Ok2"]
    </p>
    <div class="form-group">
        <label class="col-md-2 control-label">@Localizer["Email"]</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">@Localizer["Register"]</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
